@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    padding: 0%; 
    margin:0; 
    font-family: 'Arial', sans-serif;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.bg_color{
    width: 100%;
    height: 50%;
    background-color: #2196f3;
    position: absolute;
    top:0; 
}

.wave{
    width: 6000px;
    height: 100%;
    position: absolute;
    top:70px;
    left:0; 
    background-image: url(../img/fondo_login.svg);
    background-position:bottom;
}

.w1{
    animation: w1 7s linear infinite; 
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite; 
    opacity: 0.5;
} 

@keyframes w1{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
}


/*Start login*/
  .form{
    position: absolute;
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    box-shadow: 2px 2px 2px 1px gray;
  }

  .form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
  }

  .form__title{
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: .4em;
  }

  .form__input{
      font-family: 'Arial', sans-serif;
      font-size: 1rem;
      padding: .8em 1em;
      outline: none; 
      border: none;
      border:1px solid #2196f3;
      border-radius: 0.2em;
  }

  .form__input-message{
      resize: none;
      padding: 1.8em 1em;
      margin-bottom: .5em;
  }

  .form_cta{
      background-color: #089FE0;
      color:#fff; 
      border: none; 
      font-weight: 300;
      font-size: 1rem;
      padding: .7em 0;
      border-radius: .2em;
      cursor: pointer;
  }

  

  /*jars*/
  .textjars{
    position: absolute;
    margin-left: -1050px;
    margin-bottom: 495px;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
  }
  .textjars a{
      text-decoration: none;
      color: #fff;
  }

  .textjars a:hover{
      color:rgb(68, 68, 68);
      transition: 0.7s; 
  }
  @media(max-width:851px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:877px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:895px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:899px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:901px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:905px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:980px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:1280px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:1350px){
    .textjars{
        margin-right: -19em;
        top:1em;
    }
    .wave{
        top:-50px;
    }
  }
  @media(max-width:760px){
      .textjars{
          margin-left:0.8em;
          padding-bottom: 9em;
          margin-right: 19em;
      }
      .wave{
        top:-50px;
      }
      
  }
  @media(max-width:789px){
    .textjars{
        margin-left:0.8em;
        padding-bottom: 9em;
        margin-right: 19em;
    }
    .wave{
        top:-50px;
    }
    
}

  @media(max-width:598px){
        .textjars{
            margin-right:14em;
            margin-left:1em;
        }
  }

  @media(max-width:434px){
        .textjars{
            margin-right: 12em;
        }
  }
  @media(max-width:394px){
    .textjars{
        margin-right: 9em;
    }
  }
  @media(max-width:332px){
    .textjars{
        margin-right: 7em;
    }
  }

  @media(max-width:270px){
    .textjars{
        margin-right: 2em;
    }
  }


  /*Estilos pagina de respuesta*/
  .text__send{
      text-transform: uppercase;
      text-align: center;
      font-family: 'Arial', sans-serif;
      margin-bottom: 1em;
  }

  .text__send a{
      text-decoration: none;
      color: black; 
      margin-top: 1em;
  }

  .text__send h1{
      padding: 10px 0; 
  }
  
  .form_button{
    background-color: #089FE0;
    color:#fff; 
    border: none; 
    font-weight: 400;
    font-size: 1rem;
    padding: .7em .2em; 
    border-radius: .2em;
    cursor: pointer;
    
    
  }

  
  

@media(max-width:400px){
    .form{
        padding: 3.5em 1em;
    }
}
 
.check_img{
    width:420px;
    height: 220px;
    align-items: center;
    padding-bottom: -10em;
}
  
  

