@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
*{
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin:auto; 
}

.bg_animate{
    width: 100%; 
    height:100vh; 
    background: linear-gradient(to right, #005C98, #505BDA); 
    position: relative; 
    overflow: hidden;
}

.header_nav{
    width: 100%; 
    position: absolute; 
    top: 0; 
    left:0; 
}

.btn-menu{
    color:white;
    background: none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav h1{
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-size: 40px; 
}

.nav-menu{
    display: flex;
    list-style: none;
}

.header_nav nav a{
    color: #fff; 
    text-decoration: none; 
    margin-right: 10px; 
    width: 120px;
    height: 155;
    padding: 15px 10px;
}

.header_nav a:hover{
    background-color: #00BFFF;
    color: #FFF;
    transition: 0.7s; 
}
.banner{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff; 
    font-size: 60px; 
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .contactanos{
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
    display: inline-block; 
    background: #1A2849; 
    padding: 20px;
}

.banner_title .contactanos:hover{
    background-color: #fff;
    color: black; 
    transition: 0.8s;
}
.banner_img{
    animation: movimiento 2.5s linear infinite; 
}

.banner_title img{
    width: 600px;
    display:block; 
}

/*Efecto burbuja*/
.burbuja{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position:absolute; 
    bottom: -150;
    

    animation: burbujas 3s linear infinite; 
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s; 
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(2){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom:0; 
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity:0; 
    }
}

@keyframes movimiento {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(30px); 
    }
    100%{
        transform: translateY(0); 
    }
}

.quienes_somos{
    border-width: 1px;
    border-style: solid;
    border-color:#505BDA ; 
    background:black; 
}

.conocenos_container{
    column-count: 2;
    column-gap: 1em;
    padding: 40px 0;
    align-items: center;
    text-align: center;
}

.logo_pagina{
  width: 550px; 
  height: 450px;
  align-items: center;
  margin-left: -14px;
}

.textos{
  color: white; 
  margin-top: 125px; 
  margin-left: 50px; 
  text-align: justify;
}

.textos h1{
  text-align: center;
  
}

.textos p{
  color: white; 
}


/*Que ofrecemos*/

/*Aqui inicia el CSS */
.titulo{
    margin-top: 20px;
    text-align: center;
}
.container_card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    padding-top: 50px;
   margin-left:125px ;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default; 
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card p{
    line-height: 1.5;
    color: #111; 
}

.card h3{
    font-weight: 400;
    margin-bottom: 15px;
}

/*FOOTER*/
footer{
    width: 100%;
    padding: 50px 0px;
    *background-image: url(../img/background-footer.svg);
    *background-size: cover;
    background: linear-gradient(to right, #005C98, #505BDA);
    -webkit-mask-image:url(../img/background-footer.svg);
    mask-image:url(../img/background-footer.svg);
    -webkit-mask-size:cover;
    mask-size:cover;
}


.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width:1200px; 
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px; 
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    font-size: 18px; 
}

.box__footer h2{
    margin-bottom: 30px;
    color: #fff; 
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; 
}

.box_copyright p{
    margin-top: 20px;
    color:#fff; 
}

.box_copyright hr{
    border: none; 
    height: 1px;
    background-color: #fff;
}

/*Responsive*/
@media screen and (max-width:1075px) {
    .container_card{
        margin-left:9px;
    }
}
@media screen and (max-width: 1064px) {
    .banner_title h2{
        font-size: 25px;
    }
    .banner_title img{
        width: 250xpx;
    }
    .container_card{
     margin-left: -2px; 
    }
}

@media (max-width:760px) {
    .header_nav .contenedor a{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    
    .header_nav h1{
        color: #fff; 
        font-family: 'Open Sans', sans-serif;
        font-size: 25px; 
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        position:fixed;
        background-color: #000000;
        left:0;
        top: 60px;
        padding: 0;
        width: 100%;
        
        left: 100%;
        transition: left 0.5s;
    }

    .btn-menu{
        display: block;
        cursor: pointer;
    }

    .nav-menu_visible{
        left: 0;
    }
}

